<div class="main-container">
    <mat-card>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Customer Success">
                <app-analytics-table [departmentId]="'1'"></app-analytics-table>
            </mat-tab>
            <mat-tab label="Sales">
                <app-analytics-table [departmentId]="'2'"></app-analytics-table>
            </mat-tab>
            <mat-tab label="Finance">
                <!-- This departmentId is different from the other ones. -->
                <!-- It seems to still work though, and it might be another way to do it (for hard coded numbers). -->
                <app-analytics-table departmentId="3"></app-analytics-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>